.main-home {

    grid-template-columns: 1fr 1fr;




    .logo-home {
        padding: 80px;
        justify-items: center;

        .logo {
            transform: rotate(-14deg);
            transition: all 0.2s ease-in-out;
            cursor: pointer;
        }

        &:hover {
            .logo {
                transform: rotate(0deg);
            }
        }

        .brand-name {
            font-family: ubuntu-bold;
            font-weight: 700;
            font-size: 4rem;
            color: $clr-brand;
            padding-left: 0.5em;
        }
    }
}