.main-home {

    grid-template-columns: 1fr 1fr;

    .logo-home {
        padding: 80px;
        justify-items: center;

        .logo {
            transform: rotate(-14deg);
            transition: all 0.2s ease-in-out;
            cursor: pointer;
        }

        &:hover {
            .logo {
                transform: rotate(0deg);
            }
        }

        .brand-name {
            font-family: ubuntu-bold;
            font-weight: 700;
            font-size: 4rem;
            color: $clr-brand;
            padding-left: 0.5em;
        }
    }

    .right-home{
        padding: 2rem;
        align-items: center;
        
        fieldset{
            padding: 4rem;
            height: 15rem;
            align-items: center;
            justify-items: center;

            h2{
                font-family: ubuntu-bold;
                font-weight: 700;
                font-size: 2rem;
                color: $clr-brand;
                padding-bottom: 1rem;
            }
            h3{
                font-family: ubuntu-bold;
                font-weight: 700;
                font-size: 1.5rem;
                color: $clr-brand;
                padding-bottom: 1rem;
            }
        }
    }
}